{% extends "layout/basic.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}


<h1>{{ maglast.name}} {{maglast.published_str}} </h1>
<h3>{{ maglast.anotation_head }}</h3>
	<h4>{% autoescape off %}
	{{ maglast.anotation }}
	{% endautoescape %}
    </h4>

<hr>
{% for b in blocks %}
<details>
    <summary>
        <h2>{{b.name}}</h2>
    </summary>
    <p>
    {% autoescape off %}
    {{b.anotation}}
    {% endautoescape %}</p>
</details>

<div class="slide-row">
<div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "accessablity": true }'>
<!--<div class="carousel-cell">-->

{% for m in mat %}
{% if m.block_id == b.id %}

    <div class="carousel-cell">
    <div class="carousel-card">
      <a href="http://127.0.0.1:8000/mag/mat/{{m.id}}/"><img class="fit-picture" src="{{ m.auth.photo.url }}" width="400px"></a>
      <div class="card-description">
        <p class="article-type"><a href ="http://127.0.0.1:8000/mag/mat/{{m.id}}/">{{m.name}}</a></p>
        <p>{{m.auth.name}} {{m.auth.soname}}</p>
      </div>
    </div>
  </div>







{% endif  %}
		{% endfor %}
</div>
</div>
<!--</div>-->
<hr>

	{% endfor %}

    {% endblock %}