{% extends "layout/basic.html" %} {% load embed_video_tags %}

{% block title %}Материалы{% endblock %}

{% block content %}
{% for a in author %}
	<div>
		<ul>
			<li>
						<img class="fit-picture" src="{{ a.photo.url }}" alt="My image">
			</li>
			<li>
				<h2>{{ a.name}} {{a.soname}} </h2>
			</li>
		</ul>
	</div>
	{% endfor %}
<section role="search">

	<div>
		<h2>{{ mat.name }} </h2>
		{% video mat.video2 'large' %}
		{% if mat.audio != Null %}
		<br>
		<audio controls >
			<source src="{{ mat.audio.url  }}">
			аудио не поддерживается((
		</audio>
		<br>
		{% endif %}
	</div>
		<br>
		<br>
		{% autoescape off %}
		<p>{{ mat.text }}</p>
		{% endautoescape %}
</section>


{% endblock %}
