body {
    font-fmily: Verdana, Helvetica, Arial, sans-serif;
    background: #2a3644;
}
header{
    front-size: 60pt;
    text-align: left;
    background: url("logo.svg") right / auto 300% no-repeat;
}
h1 {
    padding: 20px;

}
h2 {
    padding: 20px;
}
h3 {
    padding: 20px;

}
h4 {
    padding: 20px;
}
h5 {
    padding: 20px;

}
h6 {
    padding: 20px;
}


form {
    text-align: center;
}
section[role=search]{
    text-align: center;
}

nav {
    float: right;

}


nav a {
    display: block;
    text-decoration: none;
    color: red;
}

ul {
  list-style: none;

}

a {
   text-decoration: none;
   color: red;
}
li {display: inline-block;}

section{
    padding: 30px;
}

img {
  border-radius: 8px;
}
.fit-picture {
    width: 400px;
}
details {
  user-select: none;
}
details[open] {
  & summary svg {
    transform: rotate(-90deg);
  }
}
summary {
  cursor: pointer;
}
svg {
  transition: all 0.3s;
}
summary::-webkit-details-marker {
  display: none;
}
:focus {
  outline: none;
}


/* материалы в карусели */
@media (min-width: 768px) {

  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

_____________
.h3 {
    color: #00c9cb!important;
    font-size:22px;
    padding-bottom: 10px;
    color: #333;
    font-weight: 500;
    line-height: 1em;
}
.post_card {
	width: 95%;
	text-align: left;
	position: relative;
	height: 100%;
	border-radius:8px;
	transition: 0.3s;
}
@media only screen and (max-width: 767px) {
.post_card {
	width: 100%;
}
}
.post_card:hover {
	transform: scale(1.03);
}
.post_card_img img{
	border-radius:8px;
}
.post_card_img:hover {
	opacity: .85;
}
.post_card_title {
	font-family: 'Gotham-Medium',Helvetica,Arial,Lucida,sans-serif;
	padding: 0px !important;
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 5px 0;
	line-height:1.2;
}
.post_card_profile {
	font-weight: 800;
	color: #00a3e0;
	font-size: 12px;
	margin-bottom: 5px;
	line-height:1em;
	font-family: 'Gotham-Book',Helvetica,Arial,Lucida,sans-serif;
	position: absolute;
}
.post_card_meta {
	height: 110px;
	background: transparent;
	padding-top: 7%;
}
@media screen and (min-width: 2000px) {
.post_card_meta {
	padding-top: 5%;
}
.post_card_meta.series  {
	height: 110px !important;
	padding-top: 5% !important;
}
.post_card_scripture {
	bottom: 5% !important;
}
}
@media screen and (min-width: 768px) and (max-width: 1115px) {
.post_card_meta {
	height: 110px;
}
}
.post_card_meta.blog {
	padding-top: 7%;
	height: 120px;
}
.post_card_meta.series  {
	padding-top: 7%;
	height: 95px;
}
.post_card_scripture {
	color: #AAB2BD;
	font-weight: 700;
	font-size: 12px;
	position: absolute;
	bottom: 5%;
	line-height:1em;
}
.post_card_meta.series .post_card_scripture  {
	bottom:10%;
}
.post_card_profile_scripture {
	color: #222;
	font-weight: 700;
	font-size: 12px;
	position: absolute;
	line-height:1.5em;
}
.post_card_profile_category {
	color: #222;
	font-weight: 700;
	font-size: 12px;
	position: absolute;
	line-height:1.5em;
}
.course-date, .course-duration, .series-length {
	font-family: 'Gotham-Book',Helvetica,Arial,Lucida,sans-serif;
	font-size: 12px;
	color: #222;
	font-weight: 700;
}
.course-duration-blog {
	font-family: 'Gotham-Book',Helvetica,Arial,Lucida,sans-serif;
	font-size: 12px;
	color: #222;
	font-weight: 700;
	position: absolute;
	bottom: 5%;
}
.slide-row {
  background-image: linear-gradient(288deg,#f4f4f4,#e0e0e0,#f4f4f4);
  padding: 50px 0px;
}
/* position dots in carousel */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}

.carousel-cell {
    width:25%;
    padding:0px 5px;
}

.carousel-cell img {
    width:100% !important;
    height:auto;
}

@media (min-width: 768px) and (max-width:980px){
    .carousel-cell {
        width:33.333333%
    }
}
@media (max-width:767px){
    .carousel-cell {
        width:50%
    }
}
@media (max-width:479px){
    .carousel-cell {
        width:100%
    }
}
/*Lower Page Dots*/
ol.flickity-page-dots {
  bottom: -30px;
}

li.dot {
    border: 2px solid #00a3e0 !important;
}
.flickity-page-dots .dot.is-selected {
    background:  #00a3e0;
}

.carousel-card {
    height:100%!important;
   background:white;
   border-radius: 4px;
   box-shadow:0 0.0625rem 0.125rem 0 rgba(0,0,0,0.2)
}

.main-carousel .carousel-card .card-description {
        padding: 0.5em 0 0.5em 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

/*Search bar*/


.search {
  width: 100% !important;
  position: relative !important;
  display: flex !important;
}

.searchTerm {
  width: 100% !important;
  border: 5px solid black !important;
  padding: 5px !important;
  height: 30px !important;
  border-radius: 5px 0 0 5px !important;
  outline: none !important;
  color: red !important;
}

.searchTerm:focus{
  color: red !important;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 35% !important ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}